* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
    background-image: url("../img/Banner_with_abstract_low_poly_design_2508.jpg");
    background-size: 103%;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 500px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0px 1px 37px 3px rgba(255, 118, 118, 1);
    -webkit-box-shadow: 0px 1px 37px 3px rgba(255, 118, 118, 1);
    -moz-box-shadow: 0px 1px 37px 3px rgba(255, 118, 118, 1);
}

.login-headding {
    margin-top: 30px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    /* or 114% */
    letter-spacing: -0.02em;
    color: #1a1919;
    text-shadow: 11px 37px 6px rgba(83, 37, 37, 0.23);
}

.login-form {
    margin: 25px 43px 25px;
    margin-bottom: 25px;
}


/* --------CSS button animations ----------*/

.button1 {
    margin: 20px auto 30px;
    text-align: center;
    line-height: 30px;
    display: block;
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 5em;
    border: 0;
    background-color: #212121;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    z-index: 2;
    border-radius: 17px;
    cursor: pointer;
}

.button1::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient( #488cfb, #29dbbc, #ddf505, #ff9f0e, #e440bb, #655adc, #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}

.button1:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

.button1,
.button1::after {
    box-sizing: border-box;
}

.button1:active {
    --border-width: 5px;
}


/* --------CSS button animations ----------*/

.login-social {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.login-social::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 395px;
    top: -28px;
    left: 51px;
    height: 1px;
    background-color: #555555;
}

.login-social-desc {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* or 175% */
    color: #2a2828;
    margin-right: 5px;
    margin-bottom: 10px;
}

.socal-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    width: 114px;
    height: 48px;
    background-color: #006eff;
    fill: white;
}

.socal-link:hover {
    opacity: 0.6;
}

.socal-link svg {
    fill: white;
}

.socal-link:last-child {
    background-color: #ff7b00;
}

.socal-link:nth-of-type(2) {
    background-color: #00d5ff;
}

.login-social-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.sign-up {
    margin-top: -20px;
    text-align: center;
    margin-bottom: 42px;
}

.signup-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    /* or 175% */
    color: #0e7fff;
}

.signup-link:hover {
    color: #1100ff;
}

#eye {
    padding: 0 10px;
    cursor: pointer;
}


/* -------- SIGN UP ----------*/

.inputBox {
    position: relative;
    margin-bottom: 10px;
}

input {
    width: 410px;
}

.inputBox input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    color: #000000;
    border: 2px solid#ee8456;
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    color: #ee8456;
    letter-spacing: 0.1em;
}

.inputBox input:focus~span,
.inputBox input:valid~span {
    font-size: 0.9em;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 5px;
    border-radius: 2px;
    background: #212121;
    letter-spacing: 0em;
    border: 1px solid #ee8456;
}


/* -------- checkbox ----------*/


/* Hide the default checkbox */

.check {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
}

.label-text {
    color: #5a5a5a;
    font-size: 14px;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    border-radius: 5px;
    box-shadow: 2px 2px 0px rgb(183, 183, 183);
}

.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 5px;
}

.container input:checked~.checkmark {
    box-shadow: 3px 3px 0px rgb(183, 183, 183);
    transition: all 0.2s;
    opacity: 1;
    background-image: linear-gradient(45deg, rgb(100, 61, 219) 0%, rgb(217, 21, 239) 100%);
}

.container input~.checkmark {
    transition: all 0.2s;
    opacity: 1;
    box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    opacity: 1;
    transition: all 0.2s;
}

.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}